[submodule "inventory"]
	path = inventory
	url = git@github.com:BCurrell/ansible-inventory-bcurrell.git
[submodule "roles/first"]
	path = roles/first
	url = git@github.com:BCurrell/ansible-role-first.git
[submodule ".\\roles\\dropbear-initramfs"]
	path = .\\roles\\dropbear-initramfs
	url = git@github.com:BCurrell/ansible-role-dropbear-initramfs.git
